*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

.title {
    color: aliceblue;
    display: flex;
    margin-top: 8%;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
}

.text_input {
    display: flex;
    margin:10%  auto;
    width: 80%;
    height: 50px;
    border-radius: 20px;
    text-align: 10px;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 3px #67b5a5;
}

.input_btn {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.user_input_area {
    display: flex !important;
    justify-content: center !important;
    font-size: 0.7rem;
    padding-top: 6%;
}

.input_btn {
    margin-top: 3%;
    display: flex;
    justify-content: center;

}

.intro_bg {
    width: 100vw;
    height: 10vh;
    /* background-color: black; */
}

.header_head {
    color:rgb(255, 255, 255);
    transition: color 0.2s;
}
.header_head:hover {
    color: #4081F3;
    transform: scale(1.05);
}

.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #0d6efd;
}


.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: #6c757d;
    list-style: none;
}

.nav-link {
    color: white;
    transition: color 0.3s;
}
.nav-link:hover {
    color: #4081F3;
    transform: scale(1.02);
}



/* show_texts css */

.show_texts_body {
  background-color: #000000;
}

.show_title {
  color: #bacbda;
  display: flex;
  margin-top: 8%;
  font-size: 3rem;
  font-weight: bold;
  justify-content: center;
}

/* toggle css */

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 100px;
  height: 54px;
  background: #23837c;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #6eada9;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 85px;
}

.display_type_switch{
  display: flex;
  margin-left: 80%;
}

.toggle_word{
  font-size: large;
  color: #bacbda;
  margin-left: 13px;
  margin-right: 13px;
  text-align: center;
  padding : 18px 0;
}
